<%= content_for :title do %>Users<% end %>

<%= content_for :breadcrumb do %>
  <li><%= link_to_unless_current self.controller_name, users_path %></li>
<% end %>

<%= content_for :index do %>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email, user_path(user) %>
    <li>
  <% end %>
<% end %>

<%= link_to 'New user', new_user_path %>
