<h2>Add permission to user: <%= cur_display_helper %></h2>

<%= form_tag current_path(cur_id_helper), :method => :put do %>
<%= label_tag "Role name: " %>
<%= select_tag :role_id, options_for_select(@ret[:extra][:roles].collect {|role| [role.name, role.id]}) %>
<%= submit_tag 'Include this role' %>
<% end %>
