<html class="login-pf">
  <body>
    <span id="badge">
      <%= image_tag("eayunlogo.jpg", :alt => "Eayun logo") %>
    </span>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div>
            <%= image_tag("eayunDMtheme.png", :alt => "EayunDMtheme") %>
          </div>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-5 login">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal", role: "form"} ) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: "col-sm-2 control-md-2 control-label"%>
              <div class="col-sm-10 col-md-10">
                <%= f.email_field :email, autofocus: true, id: "inputUsername", class: "form-control"%>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :password, class:'col-sm-2 col-md-2 control-label'%>
              <div class="col-sm-10 col-md-10">
                <%= f.password_field :password, autocomplete: "off", id:'inputPassword', class:'form-control'%>
              </div>
            </div>
            <div class="form-group">
              <% if devise_mapping.rememberable? -%>
              <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
                <div class="checkbox">
                  <%= f.label :remember_me %>
                  <%= f.check_box :remember_me %>
                </div>
                <% end -%>
                <span class="help-block">
                   <%= render "devise/shared/links" %>
                </span>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 submit">
                <%= f.submit "Log in", class:"btn btn-primary btn-lg" %>
              </div>
            </div>
          </div>
          <% end %>
        <div class="col-sm-5 col-md-6 col-lg-7 details">
          <p>
            <strong>Welcome to PatternFly!</strong>
This is placeholder text, only. Use this area to place any information or introductory message about your application that may be relevant for users. For example, you might include news or information about the latest release of your product here—such as a version number.
          </p>
        <div>
      </div>
    </div>
  </body>
</html>
