<%= content_for :title do %>Roles<% end %>

<%= content_for :breadcrumb do %>
  <li><%= link_to self.controller_name, roles_path %></li>
<% end %>

<%= content_for :index do %>
    <% @roles.each do |role| %>
      <li>
      <%= link_to role.name, role_path(role) %>
    </li>
  <% end %>
<% end %>

<%= link_to 'New role', new_role_path %>
