<h2>Role detail</h2>
<ul>
<li>Name: <%= @ret[:current].name %></li>
<li>Description: <%= @ret[:current].desc %></li>
</ul>

<h3>Included operations:</h3>
<ul>
<% @ret[:extra][:operations].each do |operation| %>
  <li>
  <%= operation.name %>
  <%= operation.desc %>
  <%= link_to 'Delete', :controller => 'roles', :action => :exclude_operation, :id => cur_id_helper, :operation_id => operation.id %>
  </li>
<% end %>
<p><%= link_to 'Include operation', :controller => 'roles', :action => :include_operation, :id => cur_id_helper %></p>
</ul>

<p><%= link_to 'Delete this role', current_path(cur_id_helper), :method => :delete %></p>
