<%= content_for :title do %>Operations<% end %>

<%= content_for :breadcrumb do %>
  <li><%= link_to self.controller_name, operations_path %></li>
<% end %>

<%= content_for :index do %>
    <% @operations.each do |operation| %>
      <li>
      <%= link_to operation.name, operation_path(operation) %>
    </li>
  <% end %>
<% end %>

<%= link_to 'New operation', new_operation_path %>
