<%= content_for :title do %>New operation<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to_unless_current self.controller_name, operations_path %></li>
  <li><%= link_to_unless_current "new operation", new_operation_path %></li>
<% end %>

<%= content_for :index do %>
  <% @operations.each do |operation| %>
    <li>
      <%= link_to operation.name, operation_path(operation) %>
    <li>
  <% end %>
<% end %>

<%= form_for @operation, :url => operations_path do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :action_name, "Action name" %>
  <%= f.text_field :action_name %>

  <%= f.label :resource_class, "Resource class" %>
  <%= f.text_field :resource_class %>

  <%= f.label :desc, "Description" %>
  <%= f.text_field :desc %>

  <%= f.submit "Create" %>
<% end %>
