<h2>New operation</h2>
<%= form_for @operation, :url => operations_path do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :action_name, "Action name" %>
  <%= f.text_field :action_name %>

  <%= f.label :resource_class, "Resource class" %>
  <%= f.text_field :resource_class %>

  <%= f.label :desc, "Description" %>
  <%= f.text_field :desc %>

  <%= f.submit "Create" %>
<% end %>
