<% operation = @ret[:current] %>

<h1>Operation detail</h1>
<ul class="dl-horizontal">
  <li>Name: <%= operation.name %></li>
  <li>Description: <%= operation.desc %></li>
  <li>Action name: <%= operation.action_name %></li>
  <li>Resource class: <%= operation.resource_class %></li>
</ul>

<p><%= link_to 'Delete this operation', current_path(cur_id_helper), :method => :delete %></p>
